@CHARSET "UTF-8";

.tree {
	float: left;
	width: 230px;
	height: 73vh;
	position: relative;
	padding-top: 6px;
	top: 125px;
}

.tree div.treeOver {
	overflow: auto;
	height: 94%;
	color: gainsboro;
}

.sampleEditorDiv {
	top: 10px;
	height: 150px;
	position: relative;
}

.mainEditorDiv {
	height: 330px;
	position: relative;
	top: 37px;
}

.sampleEditorDiv #sampleEditor {
	position: absolute;
	top: 37px;
	left: 15%;
	width: 85%;
	height: 88%;
	z-index: 99;
}

.mainEditorDiv #mainEditor {
	top: 36px;
	position: absolute;
	height: 300px;
	left: 15%;
	width: 85%;
	z-index: 99;
}

.errorPlace {
	position: relative;
	height: 90px;
	background-color: rgb(15, 15, 15);
	color: cornflowerblue;
}

.toolbar {
	float: left;
	height: 120px;
	background-color: black;
	width: 15%;
	position: fixed;
	z-index: 99;
}

.nameTag {
	border: 3px solid rgb(51, 51, 51);
	border-bottom: 5px solid black;
	color: white;
	font-size: 30px;
	padding-left: 7px;
	padding-right: 7px;
	z-index: 10;
}

.window {
	border: 3px solid rgb(51, 51, 51);
	top: -3px;
	height: 92%;
	margin-right: 2px;
	z-index: 1;
	position: relative;
}

div.editor {
	position: relative;
	left: 15%;
	width: 85%;
}

.clicked {
	border-top: 5px solid rgb(255, 200, 0);
}

.error {
	position: relative;
	top: 50px;
}

#errorClick {
	text-decoration: underline;
	left: 10px;
	position: relative;
}

#errorContent {
	overflow: auto;
	height: 100%;
	position: absolute;
	left: 2%;
	width: 98%;
}

#visual {
	z-index: 999;
}

.modal {
	z-index: 999;
}

.modal-dialog {
	position: relative;
	left: 30%;
}

.toolbar select {
	height: 35px;
}

#theme {
	width: 155px;
}

#fontSize {
	width: 80px;
}

/*   ===========   button css   ==========   */