@CHARSET "UTF-8";

/*                          GET STARTED BUTTON                             */
.get-started {
	position: absolute;
	z-index: 3;
	top: 45%;
	left: 45%;
}

/*                 COMU PAGE AFTER 'GET STARTED'                   */
.comu-container {
	position: absolute;
	z-index: 2;
	top: 7%;
	width: 100%;
	padding-top: 5%;
	background-color: rgba(255, 255, 255, 0);
	overflow-y: auto;
	overflow-x: hidden;
}

.text {
	color: black;
}

.text-thin {
	font-weight: 100
}

.centerPlace .inlineD h4 {
	position: relative;
	display: inline;
	color: white;
	margin-bottom: 10px;
}

textarea {
	resize: none;
}

.inlineD {
	position: relative;
}

.float-right {
	float: right;
	position: relative;
	top: -4px;
}

.center {
	position: relative;
	top: -5px;
	left: 27%;
}

.errorPlace {
	background-color: wheat;
	position: relative;
	top: 60px;
	width: 80%;
	left: 6%;
}

#treeViewDiv {
	color: black;
	background-color: white;
	padding: 10px;
	font-size: 10pt;
	width: 70%;
	height: 510px;
	position: relative;
	left: 9%;
	top: -10px;
	overflow: auto;
}

.leftplace h4.treeViewName {
	position: relative;
	top: -7px;
	left: 11%;
	color: white;
}

/* replace folder icons with another image, remove leaf image */
li.jstree-open>a .jstree-icon {
	background: url("../images/comu/folderO.png") 0px 0px no-repeat
		!important;
}

li.jstree-closed>a .jstree-icon {
	background: url("../images/comu/folder.png") 0px 0px no-repeat
		!important;
}

li.jstree-leaf>a .jstree-icon {
	background: url("../images/comu/note.png") 0px 0px no-repeat !important;
}

/* replace checkbox icons */
li.jstree-unchecked>a .jstree-checkbox, li.jstree-undetermined>a .jstree-checkbox
	{
	background: url("../images/comu/note.png") 0px 0px no-repeat !important;
	width: 32px;
	height: 29px;
	padding-top: 5px;
}

li.jstree-checked>a .jstree-checkbox {
	background: url("../images/comu/note.png") 0px 0px no-repeat !important;
	width: 32px;
	height: 29px;
	padding-top: 5px;
}